.wrapper {
    padding-top: 1rem;
}
iframe {
    width: 100%;
    height: 250px;
}
.letter {
    position: sticky;
    top: 0;
    background: #fff;
    color: #d00;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 3px;
    list-style-type: none;
}
